.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  background-color: #222;
}
.App  > div{
  display: flex;
  flex-direction: column;
  
}
.left-cont{
  justify-content: space-around;
  width: 50%;
  align-items: center;
  height: 100%;
}
.right-cont{
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.param{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.grayscale-param{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.allTagsCont{
  display: flex;
  flex-direction: column;
}
.user-image{
   height: 600px;
   width: 600px;
   /* overflow: scroll; */
}


.user-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image{
  max-height: 500px;
   max-width: 600px;
   
}


.feature-cards{
  display: grid;
  width: 100vw;
  justify-items: center;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  background-color: #292828;
  margin: auto;
}


.rotate-cont{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
/* 
.lRotate{
  margin-right: 10px;
  margin-left: 10px;
} */

.Contrast-param{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.border-param{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}